/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    margin-inline: 6rem 1rem;
    padding-block: 2rem;
}