/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    --first-color: hsl(248, 74%, 58%);
    --black-color: hsl(248, 24%, 10%);
    --white-color: #fff;
    --body-color: hsl(248, 100%, 99%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --small-font-size: .813rem;

    // Responsive typography
    @media screen and (min-width: 1024px){
        --small-font-size: .875rem;
    }
}